<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Show Me Weather</title>
    
</head>

<body>
     <header>
        <h1>Get current weather based on location<br />
        _FreeCodeCamp challenge_</h1>
      </header>
    <div class='wrapper'>
        <p id="ppp"></p>
         <div class="show-icon">
            <canvas id="icon" width="128" height="128"></canvas>
        </div>
        <div class="text">
        <div class="zone">
            <h2>TimeZone</h2>
            <p id='timezone'></p>
        </div>
        <div class="style-tempr">
            <h3>Local temperature is</h3>
            <p id='tempr'></p>
            <button id="btn">C|F</button>
        </div>
        <div class="block-about">
            <p id='review'></p>
        </div>
        </div>
      
    </div>
    <script src="weather.js"></script>
    <script src="https://raw.githubusercontent.com/darkskyapp/skycons/master/skycons.js"></script>
</body>

</html>